{% extends '/base.html.twig' %}

{% block body%}
    Donation List:
    <ul>
    {% for donation in donations %}
        <li>
            id: {{ donation.id }}
            name: {{ donation.name }}
            money: {{ donation.money }}
            person_id: {{ donation.personId }}
            email: {{ donation.email }}
            phone: {{ donation.phone }}
            anonymous: {{ donation.anonymous }}
            identity_type: {{ donation.identityType }}
            title: {{ donation.title }}
            pay: {{ donation.pay }}
            status: {{ donation.status }}
            type: {{ donation.type }}
            description: {{ donation.description }}
            address: {{ donation.address }}
            zipcode: {{ donation.zipcode }}
            date: {{ donation.date|date('Y-m-d') }}
            paydate: {{ donation.paydate is empty ? '' : donation.paydate|date('Y-m-d') }}
            <a class="btn btn-outline-secondary" role="button"
                href="{{ path('donation_show', {'did': donation.id}) }}">
                link
            </a>
            <a class="btn btn-outline-secondary" role="button"
                href="{{ path('donation_status', {'did': donation.id}) }}">
                status
            </a>
        </li>
    {% endfor %}
    </ul>

    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_add') }}">
        add
    </a>
    <br><br>
    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_filter', {'fields': 'id'}) }}"> 
        filter_testing
    </a>
    <br>
    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_sort', {'fields': 'id', 'orderBy': 'desc'}) }}">
        sort_testing
    </a>

{% endblock %}


