{% extends '/base.html.twig' %}

{% block body%}
<h3>Donation List</h3>
<hr></hr>
<div class="donation_list">
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>money</th>
            <th>person_id</th>
            <th>pay</th>
            <th>status</th>
            <th>date</th>
            <th>paydate</th>
            <th>link</th>
            <th>status</th>
        </tr>
        
        {% for donation in donations %}
        <tr>
            <td>{{ donation.id }}</td>
            <td>{{ donation.name }}</td>
            <td>{{ donation.money }}</td>
            <td>{{ donation.personId }}</td>
            <td>{{ donation.pay }}</td>
            <td>{{ donation.status }}</td>
            <td>{{ donation.date|date('Y-m-d') }}</td>
            <td>{{ donation.paydate is empty ? '' : donation.paydate|date('Y-m-d') }}</td>
            <td><a class="btn btn-outline-secondary" role="button"
                    href="{{ path('donation_show', {'did': donation.id}) }}">
                    link
                </a></td>
            <td><a class="btn btn-outline-secondary" role="button"
                    href="{{ path('donation_status', {'did': donation.id}) }}">
                    status
                </a></td>
        </tr>
        {% endfor %}
        
    </table>
</div>

    Donation List:
    <ul>
    {% for donation in donations %}
        <li>id: {{ donation.id }}
            name: {{ donation.name }}
            money: {{ donation.money }}
            person_id: {{ donation.personId }}
            email: {{ donation.email }}
            phone: {{ donation.phone }}
            anonymous: {{ donation.anonymous }}
            identity_type: {{ donation.identityType }}
            title: {{ donation.title }}
            pay: {{ donation.pay }}
            status: {{ donation.status }}
            type: {{ donation.type }}
            description: {{ donation.description }}
            address: {{ donation.address }}
            zipcode: {{ donation.zipcode }}
            date: {{ donation.date|date('Y-m-d') }}
            paydate: {{ donation.paydate is empty ? '' : donation.paydate|date('Y-m-d') }}
            <a class="btn btn-outline-secondary" role="button"
                href="{{ path('donation_show', {'did': donation.id}) }}">
                link
            </a>
            <a class="btn btn-outline-secondary" role="button"
                href="{{ path('donation_status', {'did': donation.id}) }}">
                status
            </a>
        </li>
    {% endfor %}
    </ul>

    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_add') }}">
        add
    </a>
    <br><br>
    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_filter') }}"> 
        filter
    </a>
    <br>
    <a class="btn btn-outline-secondary" role="button"
        href="{{ path('donation_sort', {'fields': 'id', 'orderBy': 'desc'}) }}">
        sort_testing
    </a>

{% endblock %}


