{% extends '/base.html.twig' %}

{% block body%}
    Donation List:
    <ul>
        {% for donation in donations %}
            <li>
                {% if donation.id is defined %} 		id: {{ donation.id }} 								{% endif %}
                {% if donation.name is defined %} 		name: {{ donation.name }} 							{% endif %}
                {% if donation.money is defined %} 		money: {{ donation.money }} 							{% endif %}
                {% if donation.personId is defined %} 		person_id: {{ donation.personId }} 						{% endif %}
                {% if donation.email is defined %} 		email: {{ donation.email }} 							{% endif %}
                {% if donation.phone is defined %} 		phone: {{ donation.phone }} 							{% endif %}
                {% if donation.anonymous is defined %} 		anonymous: {{ donation.anonymous }}						{% endif %}
                {% if donation.identity_type is defined %} 	identitytype: {{ donation.identity_type }} 					{% endif %}
                {% if donation.title is defined %} 		title: {{ donation.title }} 							{% endif %}
                {% if donation.pay is defined %} 		pay: {{ donation.pay }} 							{% endif %}
                {% if donation.status is defined %} 		status: {{ donation.status }} 							{% endif %}
                {% if donation.type is defined %} 		type: {{ donation.type }} 							{% endif %}
                {% if donation.description is defined %} 	description: {{ donation.description }} 					{% endif %}
                {% if donation.address is defined %} 		address: {{ donation.address }} 						{% endif %}
                {% if donation.zipcode is defined %} 		zipcode: {{ donation.zipcode }} 						{% endif %}
                {% if donation.date is defined %} 		date: {{ donation.date|date('Y-m-d') }} 					{% endif %}
                {% if donation.pay_date is defined %} 		paydate: {{ donation.pay_date is empty ? '' : donation.pay_date|date('Y-m-d') }}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

