{# templates/project/index.html.twig #}

{% extends '/base.html.twig' %}
{% block body%}
<script src="{{ asset('project_selection.js') }}" type="text/javascript"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var Message = document.getElementById('message');
        Message.innerHTML = '';
        const title = document.createElement('h2');
        title.textContent = "請留意";
        Message.appendChild(title);
        var errors = "{{ form_errors(form.name)|striptags|escape('js') }}";

        if (errors) {
            const label = document.createElement('div');
			label.textContent = "該捐款項目已經存在";
			Message.appendChild(label);
            showAlert();
            //alert(errors);
        }
    });

    function showAlert() {
        var Alert = document.getElementById('alert_window');
        var overlay = document.getElementById('overlay');
        Alert.style.display = 'flex';
        overlay.style.display = 'flex';
    }

    function closeAlert() {
        var Alert = document.getElementById('alert_window');
        var overlay = document.getElementById('overlay');
        Alert.style.display = 'none';
        overlay.style.display = 'none';
    }
</script>

<div id="alert_window">
    <div id="message"></div>
    <span class="close" onclick="closeAlert()">&times;</span>
    <button onclick="closeAlert()">OK</button>
</div>
<div id="overlay"></div>

<h3>Add New Donation Project</h3>
<hr style="width: 60%;"></hr>
<div class="project_input" style='height:250px'>
    <div style="width: 80%; margin-top: 1rem; margin-bottom: 0;">
        {% if edit_id == 0 %}
            {{ form_start(form)}}
            <label>請輸入新捐款項目的名稱</label><br>
            {{ form_widget(form.institution)}}
            {{ form_widget(form.department)}}
            <select id="dept_select" style="display: none;" onchange="select_project();" ></select><br>
            {{ form_widget(form.name)}} <br>
            <p></p>
            <label>請選擇新捐款項目的狀態</label><br>
            {{ form_widget(form.available)}}
            {{ form_widget(form.save)}}
            {{ form_end(form)}}
        {% else %}
            <p style="font-size:16px; text-align: center;">Editing the project of id {{edit_id}} ......</p>
            <div>
                <div class="loadingio-spinner-spinner-heeeokjy68"><div class="ldio-us710n499yn">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div></div>
            </div>
        {% endif %}
    </div>
</div>

<h3>Existed Donation Project</h3>
<hr style="width: 60%;"></hr>
<div class="project_list">
    <table cellspacing="10">
        <tr>
            <th>id</th>
            <th>Institution</th>
            <th>Department</th>
            <th>Name</th>
            <th>Available</th>
            <th>Edit</th>
        </tr>

        {% for project in projects %}
            {% if project.id == edit_id %}
                <tr class="project_input">
                    <td>{{project.id}}</td>
                    {{ form_start(form)}}
                    {{ form_widget(form.department)}}
                    <td>{{ form_widget(form.institution)}}</td>
                    <td><select id="dept_select" style="display: none;" onchange="select_project();" ></select></td>
                    <td>{{ form_widget(form.name)}}</td>
                    <td>{{ form_widget(form.available)}}</td>
                    <td>{{ form_widget(form.save)}}</td>
                    {{ form_end(form)}}
                </tr>
            {% else %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.institution }}</td>
                    <td>{{ project.department }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.available }}</td>
                    <td><a href="{{ path('project_edit', {'did': project.id}) }}">Edit</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>


{% endblock %}