{# templates/project/index.html.twig #}

{% extends '/base.html.twig' %}
{% block body%}
<script src="{{ asset('project_selection.js') }}" type="text/javascript"></script>

<h3>Add New</h3>
<div style='height:250px'>
{% if edit_id == 0 %}
    {{ form_start(form)}}
    {{ form_widget(form.institution)}}
    {{ form_widget(form.department)}}
    <select id="dept_select" style="display: none;" onchange="select_project();" ></select>
    {{ form_widget(form.name)}} <br />
    Available: {{ form_widget(form.available)}}
    {{ form_widget(form.save)}}
    {{ form_end(form)}}
{% else %}
    <p>editing id {{edit_id}} ......</p>
{% endif %}
</div>

<h3>Data</h3>
<table>
    <tr>
        <td>id</td>
        <td>Institution</td>
        <td>Department</td>
        <td>Name</td>
        <td>Available</td>
        <td>Edit</td>
    </tr>

    {% for project in projects %}
        {% if project.id == edit_id %}
            <tr>
                <td>{{project.id}}</td>
                {{ form_start(form)}}
                <td>{{ form_widget(form.institution)}}</td>
                <td><select id="dept_select" style="display: none;" onchange="select_project();" ></select></td>
                <td>{{ form_widget(form.name)}}</td>
                <td>{{ form_widget(form.available)}}</td>
                <td>{{ form_widget(form.save)}}</td>
                {{ form_end(form)}}
            </tr>
        {% else %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.institution }}</td>
                <td>{{ project.department }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.available }}</td>
                <td><a href="{{ path('project_edit', {'did': project.id}) }}">Edit</a></td>
            </tr>
        {% endif %}
    {% endfor %}
</table>


{% endblock %}